* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    cursor: pointer;
}

.container {
    height: 100vh;
    width: 100%;
    display: flex;
    position: relative;
}

.bar {
    display: none;
    position: fixed;
    right: 20px;
    top: 20px;
    padding: .5rem 1rem;
    transition: 0.3s ease-in-out;
    color: white;
    z-index: 99;
}

.fa-bars {
    background: #0F2027;
    padding: .5rem 1rem;
    border-radius: 50px;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.fa-xmark {
    transform: rotate(180deg);
}

.left {
    display: flex;
    height: 100vh;
}

#ulres {
    display: none;
}

ul.menu {
    width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}

ul.menu li {
    margin: 30px 0;
}

ul.menu li a {
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.3s ease-in-out;
}

ul.menu li a i {
    font-size: 25px;
    margin-bottom: 10px;
    color: #A7C7E7;
}

.left .head {
    min-width: 420px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #0F2027;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
}

.left .head img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
    margin: 50px 0;
    border: 4px solid white;
}

.left .head p {
    margin: 20px 0;
}

.left .head span {
    margin: 20px 0;
}

.left .head span a {
    margin: 0 10px;
    color: white;
}

.right {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    background: #0F2027;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.box {
    position: absolute;
    background-color: white;
    height: 100%;
    width: 100%;
    transition: 0.3s ease-in-out;
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);

}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* display: none; */
}

.box h1 {
    font-size: 70px;
    margin-bottom: 20px;
}

.box p {
    font-size: 20px;
    color: darkgray;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* overflow-y: scroll; */
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
.active2 {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    z-index: 9;
}

@media only screen and (max-width: 960px) {
    .left {
        position: absolute;
        right: 0;
        z-index: 9;
        clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
        transition: 0.3s ease-in-out;
    }
    .left .head img {
        width: 90px;
        height: 90px;
        margin: 30px 0;
        
    }
    .left .head ul {
        list-style: none;
        
    }
    .left .head ul li {
        margin: 20px 0;
        
    }
    .left .head ul li a {
        text-decoration: none;
        /* color: black; */
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: 0.3s ease-in-out;
        line-height: 40px;
    }


    #ulres {
        display: block;
    }

    ul.menu {
        display: none;
    }

    .bar {
        display: block;
    }
}

@media only screen and (max-width: 480px) {
    .left {
        max-width: 480px;
        
    }
    .right h1 {
        font-size: 40px;
    }

    .right p {
        font-size: 15px;
    }
}